testi/Biodata.txt
testi/src/Frame1.java
.metadata/.plugins/org.eclipse.core.resources/.history/18/f04fe6d4f45600141601e7f6dd9118dc
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.pde.api.tools.prefs
.metadata/.plugins/org.eclipse.debug.core/.launches/Bio2.launch
.metadata/.plugins/org.eclipse.debug.ui/dialog_settings.xml